# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Unit test / coverage reports
.pytest_cache/
.coverage

# Dependency directories
node_modules/

# virtualenv
env/

clashBot/data/*
clashBot/config_bot.json
clashBot/clashData.db
clashBot/config_bot.py
clashBot/discordBot.js
clashBot/clashWebServer.py
clashBot/manuallyInputtingDataConversion/*
!clashBot/manuallyInputtingDataConversion/1_clanGamesMain.json
clashBot/clashData.db-journal
