# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Unit test / coverage reports
.pytest_cache/
.coverage

# Dependency directories
node_modules/

# virtualenv
env/

ClashBot.egg-info/

# vim .swp files
*.swp

ClashBot/data/*
ClashBot/config_bot.json
ClashBot/clashData.db
ClashBot/config_bot.py
ClashBot/discordBot.js
ClashBot/clashWebServer.py
ClashBot/manuallyInputtingDataConversion/*
!ClashBot/manuallyInputtingDataConversion/1_clanGamesMain.json
ClashBot/clashData.db-journal
