# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Unit test / coverage reports
.pytest_cache/
.coverage

# Dependency directories
node_modules/

# virtualenv
env/
venv/

ClashBot.egg-info/

# vim .swp files
*.swp

ClashBot/clashData.db
ClashBot/clashData.db-journal

ClashBot/configs/*.json

ClashBot/exported_data/*

ClashBot/fetched_raw_data/*

# files I am working on and don't want uploaded
*.wip
*.old

# IntelliJ
*.idea

# Thanks OS X
.DS_Store

# Used for moving files around :)
rsync_command

output/