{
	"supercell_token_to_use":"GAWGOPJHAGJHEIOIGOHAG825628935632FHIAEGHIOEHGIOWHG789GSEEG89waehgwg8h98hg89ghwhga89ghwa8ghw89ahwajafwi3nfuBNGIONEIGNSLKGNEgg49h9w04ahg9wgj9aw4pgjwp",
	"my_clan":"#HG8SGA8"
}
